<head>
<link href="views/styles/formStyle.css" rel="stylesheet" type="text/css"/>
<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
</head>
<div class="form-style-8">
  <h2>Create New Account</h2>
  <form>
    <input type="text" name="field1" placeholder="Firstname" />
    <input type="text" name="field2" placeholder="Lastname" />
    <input type="text" name="field2" placeholder="Username" />
    <input type="password" name="field2" placeholder="Password" />
    <input type="password" name="field2" placeholder="Repeat Password" />
    <input type="button" value="Create User" />
  </form>
</div>


